<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gh-deliveryorderprocessor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9db67fb2-7731-431d-b45c-42095d04db5e/resourceGroups/gh-hw-final/providers/Microsoft.Web/sites/gh-deliveryorderprocessor</ResourceId>
    <UserName>$gh-deliveryorderprocessor</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://gh-deliveryorderprocessor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>